<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<link rel="stylesheet" href="index.css">
<script src="vue.js"></script>

<body>
<div id="el" @dblclick.ctrl="Addnote" @mouseup="mu" @mousemove="mv">
    <div class="header"></div>
    <div class="content">
        <div :class="`note ${v.theme} ${(i===moveEvent.index)?'active':''}`"
             v-for="(v,i) in lists"
             :key="v.i"
             :style="{top:v.top+'px',left:v.left+'px'}">
            <h3 class="title" @mousedown.prevent.stop="md(i,$event)">
                {{v.title}}
                <!--<a href="javascript:;" @click="closeNote">X</a>-->
            </h3>
            <div class="content">
                <textarea @blur="save" v-model="v.content" @keyup.stop></textarea>
            </div>
        </div>
    </div>

</div>
<script src="index.js"></script>

</body>
</html>